body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: url("/img/background.png"); */
  /* background-image: url("https://images.unsplash.com/photo-1542500186-6edb30855637?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
}
.refresh {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50%;
}
#container {
  background-color: rgba(0, 0, 0, 0.26);
  height: 100vh;
  width: 100%;
  position: relative;
}
header {
  position: relative;
  top: 45%;
  transform: translateY(-50%);

  animation-name: fadein;
  animation-duration: 2s;
}
header h1 {
  display: inline;
  font-size: 5rem;
}
header img {
  display: inline;
  position: relative;
  top: 12px;
  width: 6rem;
  /* height: 50px; */
  margin-left: 5px;
}
body {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Inconsolata", monospace;
}
h1 {
  color: #f8f4f2;
}
h2 {
  color: #f8f4f2;
}
p {
  color: #f8f4f2;
}
footer {
  position: absolute;
  height: 150px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

@keyframes fadein {
  from {
    opacity: 0;
    top: 42%;
  }
  to {
    opacity: 1;
    top: 45%;
  }
}
